[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JaOstr
[access "refs/for/refs/*"]
	read = group user/JaOstr
	push = group user/JaOstr
	label-Code-Review = -2..+2 group user/JaOstr
	label-Verified = -1..+1 group user/JaOstr
	rebase = group user/JaOstr
	removeReviewer = group user/JaOstr
	submit = group user/JaOstr
[access "refs/heads/*"]
	read = group user/JaOstr
	create = group user/JaOstr
	push = +force group user/JaOstr
	pushMerge = group user/JaOstr
[access "refs/tags/*"]
	push = +force group user/JaOstr
	pushTag = group user/JaOstr
	pushSignedTag = group user/JaOstr
